// 全局通用样式
@import './mixin.scss';
@import './element-ui.scss';

html {
    height: 100%;
    box-sizing: border-box;
}
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
ul,ol,li{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// global-width
.w80{
    width: 80%;
}
.w50{
    width:50%;
}

// global-padding
.p30{
    padding:30px 0;
}
// global-margin
.margin0auto{
    margin: 0 auto;
}
.margin-20-auto{
    margin:20px auto;
}
.mt20{
    margin-top: 20px; 
}
.mb20{
   margin-bottom: 20px; 
}
